body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FFEDD5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 320px;
    padding: 20px;
    border: 1px solid #FFA96E;
    background-color: #FFFAF3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
    color: #FF7F50;
    margin-bottom: 40px;
  }
  
  form {
    max-width: 280px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #FF7F50;
    text-align: left;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #FF7F50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom : 20px;
  }
  
  button:hover {
    background-color: #FF8C61;
  }
  