body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFEDD5;
    height: 100vh;
    }
    
    .container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #FFA96E;
    background-color: #FFFAF3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    h2 {
    text-align: center;
    color: #FF7F50;
    margin-bottom: 20px;
    }
    
    .form-group {
    margin-bottom: 15px;
    }
    
    label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #FF7F50;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #FFA96E;
    border-radius: 3px;
    box-sizing: border-box;
    }
    
    input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FF7F50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    }
    
    input[type="submit"]:hover {
    background-color: #FF8C61;
    }